WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/v17/.suo
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db-shm
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db-wal
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/v17/DocumentLayout.json
WOFFCEdit/.vs/Win32SimpleSample/v17/fileList.bin
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/3592417cfac87b68/CAMERA.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/4ab0206c336dc76/MAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/be1bc394b6385b25/GAME.ipch
